h1 {
	color: white;
}

.header a, a:hover {
	color: #fff;
	text-decoration: none;
}
.header h1 {
	letter-spacing: 15px;
	font-size: 280%
}
.header h2 {
	font-size: 1.9em;
	padding: 4px 0 0 0;
	color: #ABF;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
	background: url(background/glass_gray.png);
}

.nav-pills>li>a {
	font: bold 170% 'arial', arial;
	display: block;
	padding: 10px 35px 10px 30px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	background: url(background/glass_blue.png);
	border: 3px solid white;
}

.nav-pills>li>a:hover {
	color: #fde910;
	background: url(background/glass_gray.png);
	border: 3px solid white;
}

.navbar-inverse {
    padding: 1%;
    border-radius: 0;
    border-color: #0000;
    background: url(background/hardened_clay_stained_cyan.png);
}
@media (max-width: 767px) {
	.nav-pills>li {
		float: none;
	}

	.nav-pills {
		text-align: center;
	}

	.header h1 {
		letter-spacing: 5px;
		font-size: 280%;
	}

	.header {
		text-align: center;
	}

	
}
.clear {
	clear: both;
	height: 63px;
}

.wrapper {
	min-height: 100%;
}

.content {
	background: url(background/hardened_clay_stained_orange.png);
}

html, body {
	height: 100%;
	background: url(background/hardened_clay_stained_cyan.png);
}

.margin_8 {
	margin-top: 8%;
}

.panel {
	margin-top: 25px;
	border: none;
}

.news {
	height: 500px;
	overflow-y: scroll;
	margin-top: 25px;
}

.news p {
	font: normal 100% 'arial', arial;
	color: #98511e;
}

.post, .modlist, .guids, .vcontact, .youtube, .twitch, .donate, .modhidden, .mainitemmod, .itemtable, .search_post, .search {
	font: normal 125% 'arial', arial;
	background: url(background/hardened_clay_stained_cyan.png);
	color: #ABF;
}

.search p {
	padding: 10px;
}
.search img {
	float: left;
	margin: 20px;
}

.post a, .search_post a  {
	color: white !important;
}

.post a:hover, .search_post a:hover {
	color: #a25525 !important;
}

.post span, .modhidden span {
	color: #ffa0a0;
}

.modhidden a {
	color: white;
}

.modhidden a:hover {
	color: yellow;
}

.vk img, .yt img, .tw img, .da img {
	width: 128px;
	height: 32px;
	border-radius: 3px;
	margin: 5px 0 0 15px;
}

.itemtable img {
	width: 100%;
	height: 100%;
	padding: 30px;
	text-align: center;
	vertical-align: middle;
	border: 4px solid white;
}

.modlist img {
	width: 150px;
    height: 150px;
    margin: 20px;
    border: 5px solid grey;
}

.well {
	background-color: #565e5e;
}


.panel-body {
	font: normal 125% 'arial', arial;
	background-color: #f9f9f9;
}
.panel-body span  {
	font: bold 125% 'arial', arial;
}



.panel-info>.panel-heading, .panel-info>.panel-heading {
	background-color: #4c4c4c;
	color: #ABF;;
	border-color: transparent;
}


.sidebar-header, .panel-title {
	font-size: 120%;
	letter-spacing: 1px;
	font: bold 175% 'arial', arial;
}

.table-bordered, .table-bordered>tbody>tr>th, .table-bordered>tbody>tr>td, .table-bordered>thead>tr>th {
	text-align: center;
	background-color: white;
	border: 3px solid grey;
	text-decoration: none;
	color: #555;
}
.table-bordered>thead>tr>th {
	cursor: pointer;
}

.table-bordered {
	width: 100%;
	height: 100%;
}

.table-bordered>tbody>tr>th, .table-bordered>thead>tr>th{
	font: bold 100% 'arial', arial;
	padding: 5px;
}

.table-bordered>tbody>tr>td {
	text-align: center;
	vertical-align: middle;
	font: normal 100% 'arial', arial;
	padding: 5px;
}

.table-bordered>tbody>tr>td a {
	color: #a25525;
    text-decoration: none;
}

.table-bordered>tbody>tr>td a:hover {
	color: grey;
    text-decoration: none;
}

.table-bordered>tbody>tr>td.craft {
	text-align: left;
	vertical-align: middle;
	font: normal 100% 'arial', arial;
	white-space: nowrap;
}

.table-bordered>tbody>tr>th.greycell {
	background-color: black;
}

.table-bordered>tbody>tr>td.leftinfo {
	text-align: left;
	vertical-align: middle;
	font: bold 100% 'arial', arial;
	padding: 5px;
}

.table-bordered>tbody>tr>td.leftinfocell {
	text-align: left;
	vertical-align: middle;
	font: normal 100% 'arial', arial;
	padding: 5px;
}

.table {
	overflow-x: auto;
}

footer {
	color: #666;
	background: url(background/hardened_clay_stained_cyan.png);
	padding: 17px 0 18px 0;
}

footer a {
	color: #fff;
	text-decoration: none;
	font: normal 100% 'arial', arial;
}

footer a:hover {
	color: yellow;
	text-decoration: none;
}

footer p {
	color: #fff;
	padding: 0 0 10px 0;
	font: normal 100% 'arial', arial;
}
/*Стили для сортировки таблиц*/
th.sorted[data-order="1"], th.sorted[data-order="-1"] {
    position: relative;
}

th.sorted[data-order="1"]::after, th.sorted[data-order="-1"]::after {
    right: 8px;
}

th.sorted[data-order="-1"]::after {
	content: "▼";
}

th.sorted[data-order="1"]::after {
	content: "▲";
}

.panel-body span {
	text-align: center !important;
	vertical-align: middle;
}

.calculate {
	font: normal 75% 'arial', arial;
	background: url(background/hardened_clay_stained_cyan.png);
	color: #ABF;
}

#calc, #steam, #gas, #plasma {
	width: 60%;
	height: 60px;
	background-color: #55495a;
	border-radius: 2px;
	font: bold 130% 'arial', arial;
}

.btn-success {
	width: 100%;
}
